{% extends "padre.html" %} 
  
{% block lateral %}
  {% if nombre != null %}
  <h5>¡Hola {{ nombre }}!</h5>
  {% else %}
  <h5>¡Hola, Mundo!</h5>
  {% endif %}
{% endblock %}

{% block cuerpo %}
  <div id="my_dataviz">
    <button id="botonColor" style="display:flex">Rainbow</button>
  </div>
{% endblock %}

{% block javascript %}  
  <script type="module">

    import define from "../static/scripts/default_arcoGrafos_v2.js";
    import {Runtime, Library, Inspector} from "../static/scripts/runtime.js";
    
    const runtime = new Runtime();
    const main = runtime.module(define, Inspector.into(document.getElementById("my_dataviz")));
    
  </script>
{% endblock %}