<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> {{ titulo }} </title>
    <link rel="shortcut icon" href="./static/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import css-->
    <link type="text/css" rel="stylesheet" href="../static/styles/materialize.css" media="screen,projection" />
    {% block estilos %}
      <link type='text/css' rel='stylesheet' href='../static/styles/padre.css' media='screen'>
    {% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block carga_js %}
    {% endblock %}
</head>

<body>
    <div id="cabecera">
        <nav>
            <div class="nav-wrapper">
              <a href="" class="brand-logo">{{ titulo }}</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">Sass</a></li>
                <li><a href="">Components</a></li>
                <li><a href="">JavaScript</a></li>
              </ul>
            </div>
        </nav>
    </div>

    <div id="ConjuntoPrincipal">
      <div id="menuLateral">
        {% block lateral %}
        {% endblock %}
        <ul>
          <li><a class="white-text text-lighten-3" href="/bokeh/1">Bokeh - Diagrama Barras</a></li>
          <li><a class="white-text text-lighten-3" href="/d3/1">d3 - Arco Grafos</a></li>
          <li><a class="white-text text-lighten-3" href="/d3/2">d3 - Diagrama Densidad</a></li>
          <li><a class="white-text text-lighten-3" href="/d3/3">d3 - Arco Grafos v2</a></li>
          <li><a class="white-text text-lighten-3" href="/d3/4">d3 - Diagramas Interactivos</a></li>
        </ul>
      </div>
  
      <div id="bloqueCentral">
        {% block cuerpo %}
        {% endblock %}
      </div>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">¡Contácte con nosotros!</h5>
            <p class="grey-text text-lighten-4">Teléfono: 666 000 222</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2023 Antonio Fernández Cabrera
        <a class="grey-text text-lighten-4 right" href="#!">Más enlaces de interés</a>
        </div>
      </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../static/scripts/materialize.js"></script>
    {% block javascript %}  
    {% endblock %}
</body>

</html>