{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div id="modal_container" class="modal-container">
			<div class="card-header-white">
			  <h1 class="text-blue pb-2 fw-bold">Elige los datos</h1>
			  <form id="uploadForm" action="/selection/upload" method="post" enctype="multipart/form-data">
				<input type="file" name="archivo" id="archivo">
				<button id="subirArchivo" class="btn btn-primary">Subir archivo</button>
			  </form>
			<button id="close">Cerrar</button>
			</div>
		</div>

		<div id="modal_container_2" class="modal-container">
			<div class="card-header-white">
			  <h1 class="text-blue pb-2 fw-bold">Generar nuevas reglas para la visualización</h1>
			  <form id="rulesForm" action="/data_nodes/transform_into_nodes" method="post" enctype="multipart/form-data">
				<label for="defaultSelect2">Archivos del servidor:</label>
				<div class="form-group-flex">
					<select class="form-control form-control" id="defaultSelect2" name="data">
						<option value="">Selecciona una opción...</option>
						<!-- Aquí iran las opciones proporcionadas por ajax (donde recibimos los datos a través del endpoint de flask) -->
					</select>
				</div>
				<div>
					<p>Soporte mínimo: <span id="valor_soporte"></span></p> <!-- Muestra el valor actual -->
					<input class="slider" type="range" min="0" max="100" value="0" id="slider_soporte" class="sliderRules" name="min_support"> <!-- Define el rango y el valor inicial -->
				</div>
				<div>
					<p>Confianza: <span id="valor_confianza"></span></p> <!-- Muestra el valor actual -->
					<input class="slider" type="range" min="0" max="100" value="0" id="slider_confianza" class="sliderRules" name="confidence"> <!-- Define el rango y el valor inicial -->
				</div>
				<input class="btn btn-primary" type="submit" value="Aceptar">
			  </form>
			<button class="closeBtn" id="close_2">Cerrar</button>
			</div>
		</div>	
		
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Subida y generación de archivos</h2>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<button id="open" class="btn btn-white btn-border btn-round mr-2">Subir datos</button>
						<button id="open_2" class="btn btn-white btn-border btn-round mr-2">Generar nuevas reglas</button>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="page-inner mt--5">
			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Overall statistics</div>
							<div class="card-category">Daily information about statistics in system</div>
							<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-1"></div>
									<h6 class="fw-bold mt-3 mb-0">New Users</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-2"></div>
									<h6 class="fw-bold mt-3 mb-0">Sales</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-3"></div>
									<h6 class="fw-bold mt-3 mb-0">Subscribers</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Total income & spend statistics</div>
							<div class="row py-3">
								<div class="col-md-4 d-flex flex-column justify-content-around">
									<div>
										<h6 class="fw-bold text-uppercase text-success op-8">Total Income</h6>
										<h3 class="fw-bold">$9.782</h3>
									</div>
									<div>
										<h6 class="fw-bold text-uppercase text-danger op-8">Total Spend</h6>
										<h3 class="fw-bold">$1,248</h3>
									</div>
								</div>
								<div class="col-md-8">
									<div id="chart-container">
										<canvas id="totalIncomeChart"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">User Statistics</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="chart-container" style="min-height: 375px">
								<canvas id="statisticsChart"></canvas>
							</div>
							<div id="myChartLegend"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-primary">
						<div class="card-header">
							<div class="card-title">Daily Sales</div>
							<div class="card-category">March 25 - April 02</div>
						</div>
						<div class="card-body pb-0">
							<div class="mb-4 mt-2">
								<h1>$4,578.58</h1>
							</div>
							<div class="pull-in">
								<canvas id="dailySalesChart"></canvas>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body pb-0">
							<div class="h1 fw-bold float-right text-warning">+7%</div>
							<h2 class="mb-2">213</h2>
							<p class="text-muted">Transactions</p>
							<div class="pull-in sparkline-fix">
								<div id="lineChart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-card-no-pd">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<h4 class="card-title">Users Geolocation</h4>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-angle-down"></span></button>
									<button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>
									<button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-times"></span></button>
								</div>
							</div>
							<p class="card-category">
							Map of the distribution of users around the world</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<div class="table-responsive table-hover table-sales">
										<table class="table">
											<tbody>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/id.png" alt="indonesia">
														</div>
													</td>
													<td>Indonesia</td>
													<td class="text-right">
														2.320
													</td>
													<td class="text-right">
														42.18%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/us.png" alt="united states">
														</div>
													</td>
													<td>USA</td>
													<td class="text-right">
														240
													</td>
													<td class="text-right">
														4.36%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/au.png" alt="australia">
														</div>
													</td>
													<td>Australia</td>
													<td class="text-right">
														119
													</td>
													<td class="text-right">
														2.16%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/ru.png" alt="russia">
														</div>
													</td>
													<td>Russia</td>
													<td class="text-right">
														1.081
													</td>
													<td class="text-right">
														19.65%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/cn.png" alt="china">
														</div>
													</td>
													<td>China</td>
													<td class="text-right">
														1.100
													</td>
													<td class="text-right">
														20%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/br.png" alt="brazil">
														</div>
													</td>
													<td>Brasil</td>
													<td class="text-right">
														640
													</td>
													<td class="text-right">
														11.63%
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mapcontainer">
										<div id="map-example" class="vmap"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Top Products</div>
						</div>
						<div class="card-body pb-0">
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">CSS</h6>
									<small class="text-muted">Cascading Style Sheets</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$17</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">J.CO Donuts</h6>
									<small class="text-muted">The Best Donuts</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$300</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct3.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">Ready Pro</h6>
									<small class="text-muted">Bootstrap 4 Admin Dashboard</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$350</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="pull-in">
								<canvas id="topProductsChart"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title fw-mediumbold">Suggested People</div>
							<div class="card-list">
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Jimmy Denis</div>
										<div class="status">Graphic Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Chad</div>
										<div class="status">CEO Zeleaf</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Talha</div>
										<div class="status">Front End Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">John Doe</div>
										<div class="status">Back End Developer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Talha</div>
										<div class="status">Front End Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Jimmy Denis</div>
										<div class="status">Graphic Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-primary bg-primary-gradient">
						<div class="card-body">
							<h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Active user right now</h4>
							<h1 class="mb-4 fw-bold">17</h1>
							<h4 class="mt-3 b-b1 pb-2 mb-5 fw-bold">Page view per minutes</h4>
							<div id="activeUsersChart"></div>
							<h4 class="mt-5 pb-3 mb-0 fw-bold">Top active pages</h4>
							<ul class="list-unstyled">
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/readypro/index.html</small> <span>7</span></li>
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/atlantis/demo.html</small> <span>10</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-title">Feed Activity</div>
						</div>
						<div class="card-body">
							<ol class="activity-feed">
								<li class="feed-item feed-item-secondary">
									<time class="date" datetime="9-25">Sep 25</time>
									<span class="text">Responded to need <a href="#">"Volunteer opportunity"</a></span>
								</li>
								<li class="feed-item feed-item-success">
									<time class="date" datetime="9-24">Sep 24</time>
									<span class="text">Added an interest <a href="#">"Volunteer Activities"</a></span>
								</li>
								<li class="feed-item feed-item-info">
									<time class="date" datetime="9-23">Sep 23</time>
									<span class="text">Joined the group <a href="single-group.php">"Boardsmanship Forum"</a></span>
								</li>
								<li class="feed-item feed-item-warning">
									<time class="date" datetime="9-21">Sep 21</time>
									<span class="text">Responded to need <a href="#">"In-Kind Opportunity"</a></span>
								</li>
								<li class="feed-item feed-item-danger">
									<time class="date" datetime="9-18">Sep 18</time>
									<span class="text">Created need <a href="#">"Volunteer Opportunity"</a></span>
								</li>
								<li class="feed-item">
									<time class="date" datetime="9-17">Sep 17</time>
									<span class="text">Attending the event <a href="single-event.php">"Some New Event"</a></span>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Support Tickets</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link" id="pills-today" data-toggle="pill" href="#pills-today" role="tab" aria-selected="true">Today</a>
										</li>
										<li class="nav-item">
											<a class="nav-link active" id="pills-week" data-toggle="pill" href="#pills-week" role="tab" aria-selected="false">Week</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-month" data-toggle="pill" href="#pills-month" role="tab" aria-selected="false">Month</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-info">J</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Joko Subianto <span class="text-warning pl-3">pending</span></h6>
									<span class="text-muted">I am facing some trouble with my viewport. When i start my</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">8:40 PM</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-offline">
									<span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Prabowo Widodo <span class="text-success pl-3">open</span></h6>
									<span class="text-muted">I have some query regarding the license issue.</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">1 Day Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-away">
									<span class="avatar-title rounded-circle border border-white bg-danger">L</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Lee Chong Wei <span class="text-muted pl-3">closed</span></h6>
									<span class="text-muted">Is there any update plan for RTL version near future?</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Days Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-offline">
									<span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Peter Parker <span class="text-success pl-3">open</span></h6>
									<span class="text-muted">I have some query regarding the license issue.</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Day Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-away">
									<span class="avatar-title rounded-circle border border-white bg-danger">L</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Logan Paul <span class="text-muted pl-3">closed</span></h6>
									<span class="text-muted">Is there any update plan for RTL version near future?</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Days Ago</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div> -->
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>

	<script>
		const open = document.getElementById('open');
		const modal_container = document.getElementById('modal_container');
		const close = document.getElementById('close');

		const open2 = document.getElementById('open_2');
		const modal_container2 = document.getElementById('modal_container_2');
		const close2 = document.getElementById('close_2');

		open.addEventListener('click', () => {
			modal_container.classList.add('show');  
		});

		close.addEventListener('click', () => {
			modal_container.classList.remove('show');
		});


		open2.addEventListener('click', () => {
			modal_container_2.classList.add('show');  
		});

		close2.addEventListener('click', () => {
			modal_container_2.classList.remove('show');
		});
	</script>

	<script>
		// Hacer una solicitud AJAX para obtener las opciones
		$(document).ready(function(){
			$.ajax({
				url: '/selection/get_files',
				type: 'GET',
				success: function(data)
				{
					data.sort()
					// Iterar sobre los datos recibidos y agregar opciones al select
					data.forEach(function(opcion){
						$('#defaultSelect2').append($('<option>', {
							value: opcion,
							text: opcion
						}));
					});
				}
			});
		});

		function updateRulesList() {
			fetch('/selection/get_rules')
			.then(response => response.json())
			.then(files => {
				var select = document.getElementById('defaultSelect');
				select.innerHTML = '<option value="">Selecciona una opción...</option>'; // Reiniciar las opciones
				files.forEach(file => {
					var option = document.createElement('option');
					option.value = file;
					option.textContent = file;
					select.appendChild(option);
				});
			})
			.catch(error => {
				console.error('Error al obtener la lista de archivos:', error);
				mostrarNotificacion('warning', 'Error al obtener la lista de archivos: ' + error.message);
			});
		}

		function updateFileList() {
			fetch('/selection/get_files')
			.then(response => response.json())
			.then(files => {
				var select = document.getElementById('defaultSelect2');
				select.innerHTML = '<option value="">Selecciona una opción...</option>'; // Reiniciar las opciones
				files.forEach(file => {
					var option = document.createElement('option');
					option.value = file;
					option.textContent = file;
					select.appendChild(option);
				});
			})
			.catch(error => {
				console.error('Error al obtener la lista de archivos:', error);
				mostrarNotificacion('warning', 'Error al obtener la lista de archivos: ' + error.message);
			});
		}
	</script>

	<script>
		// Función para mostrar notificaciones
		function mostrarNotificacion(state, message) {
			var placementFrom = 'bottom';
			var placementAlign = 'center';
			var content = {};
	
			content.message = message;
			content.title = 'Notificación';
			content.url = 'index.html';
			content.target = '_blank';
			content.icon = 'fa fa-bell'

			$.notify(content,{
				type: state,
				placement: {
					from: placementFrom,
					align: placementAlign
				},
				time: 1000,
				delay: 4000,
			});
		}

		// Función para manejar el envío del formulario
		document.getElementById('uploadForm').addEventListener('submit', function(event) {
			event.preventDefault(); // Evitar el comportamiento predeterminado del envío del formulario
			
			var fileToUpload = document.getElementById('archivo');
		
			// Verificar si se ha seleccionado un archivo
			if (fileToUpload.files.length === 0) {
				mostrarNotificacion('warning', 'Por favor, selecciona un archivo antes de enviar el formulario.');
				return; // Salir de la función si no hay archivo seleccionado
			}
		
			var formData = new FormData(this); // Obtener los datos del formulario
		
			// Enviar los datos del formulario mediante AJAX
			fetch('/selection/upload', {
				method: 'POST',
				body: formData
			})
			.then(response => {
				// Verificar si la respuesta tiene un estado exitoso
				if (!response.ok) {
					throw new Error(`HTTP error! Status: ${response.status}`);
				}
				return response.text();
			})
			.then(data => {
				// Manejar la respuesta del servidor, si es necesario
				console.log(data);
		
				// Mostrar notificación de éxito
				updateFileList(); // Asegúrate de que esta función esté definida correctamente
				mostrarNotificacion('success', 'Archivo subido con éxito');
				modal_container.classList.remove('show');
		
				// Reiniciar el valor del input file
				fileToUpload.value = '';
			})
			.catch(error => {
				// Manejar cualquier error que ocurra durante la petición
				console.error('Error al enviar el formulario:', error);
				// Mostrar notificación de error
				mostrarNotificacion('warning', 'Error al subir el archivo: ' + error.message);
			});
		});

		document.getElementById('rulesForm').addEventListener('submit', function(event) {
			event.preventDefault();

			var formData = new FormData(this); // Obtener los datos del formulario
			var dataSelected = document.getElementById('defaultSelect2')
	
			// Enviar los datos del formulario mediante AJAX
			fetch('/data_nodes/transform_into_nodes', {
				method: 'POST',
				body: formData
			})
			.then(response => {
				// Verificar si la respuesta tiene un estado exitoso
				if (!response.ok) {
					throw new Error(`HTTP error! Status: ${response.status}`);
				}
				return response.text();
			})
			.then(data => {
				// Manejar la respuesta del servidor, si es necesario
				console.log(data);
				// Mostrar notificación de éxito
				if (dataSelected.value == 'Selecciona una opción...' || dataSelected.value == '')
					mostrarNotificacion('warning','Error al generar reglas');
				else{
					updateRulesList();
					mostrarNotificacion('success','Reglas generadas correctamente');
					modal_container_2.classList.remove('show');
				}
			})
			.catch(error => {
				// Manejar cualquier error que ocurra durante la petición
				console.error('Error al enviar el formulario:', error);
				// Mostrar notificación de error
				mostrarNotificacion('warning', 'Error al generar reglas');
			});
		});
	</script>

	<!-- Slider -->
	<script>
		const sliderSoporte = document.getElementById("slider_soporte");
		const valorSoporteMostrado = document.getElementById("valor_soporte");

		const sliderConfianza = document.getElementById("slider_confianza");
		const valorConfianzaMostrado = document.getElementById("valor_confianza");
	
		// Muestra el valor inicial
		valorSoporteMostrado.textContent = sliderSoporte.value;
		valorConfianzaMostrado.textContent = sliderConfianza.value;
	
		// Actualiza el valor mostrado cuando el slider cambia
		sliderSoporte.addEventListener("input", function() {
			valorSoporteMostrado.textContent = this.value / 100;
		});
		sliderConfianza.addEventListener("input", function() {
			valorConfianzaMostrado.textContent = this.value / 100;
		});
	</script>

	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

{% endblock javascripts %}
