
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://appseed.us/product/atlantis-dark/flask/">
									RELATIONS data visualization
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="">Association Tools</a>
                        - edited by <a target="_blank" href="">Antonio Fernández</a>
					</div>				
				</div>
            </footer>
            